/* Add this to styles.css */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
p, li {
    font-family: 'Arial', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.About, .Projects, .Skills, .Contact {
    margin: 20px;
    padding: 20px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
ul li {
    padding: 15px 20px;
    color: white;
}
.Header {
    text-align: center;
    background-color: darkgrey;
    padding: 5px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
